
include ../blocks/salute/salute.pug
include ../blocks/form/form.pug
include ../blocks/icon/icon.pug
include ../blocks/act/act.pug
include ../blocks/roster/roster.pug
include ../blocks/black/black.pug
include ../blocks/delivery/delivery.pug
include ../blocks/respect/respect.pug
include ../blocks/choice/choice.pug
include ../blocks/form2/form2.pug
