
include ../blocks/salute/salute.pug
include ../blocks/form/form.pug
include ../blocks/icon/icon.pug
include ../blocks/act/act.pug
include ../blocks/roster/roster.pug
include ../blocks/black/black.pug
include ../blocks/delivery/delivery.pug
