.salute {
  background: #F5F8F9;
  &__area {
    width: 100%;
    max-width: 1080px;
    margin: 80px auto 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 80px 0 50px;
    border-bottom: 1px solid #EAEAEA;
  }
  &__info {
    max-width: 540px;
  }
  &__title {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 40px;
    line-height: 59px;
    text-transform: uppercase;
    color: #1A1C1D;
    margin-bottom: 30px;
  }
  &__subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #32363C;
    background: #FED96A;
    border-radius: 20px;
    padding: 2px 10px;
    margin: 0 8px;
  }
  &__subtitles {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: rgba(0,0,0,0.2);
    margin-left: -8px;
    margin-bottom: 18px;
  }
  &__text {
    font-size: 17px;
    line-height: 140%;
    color: #332F2F;
  }
}
